<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).NotificationService</string>
	</dict>
    <key>IV_PRODUCTION</key>
    <string>$(IV_PRODUCTION)</string>
    <key>IV_TEAM_ID</key>
    <string>$(IV_TEAM_ID)</string>
    <key>SDK_ID</key>
    <string>$(SDK_ID)</string>
    <key>SDK_KEY</key>
    <string>$(SDK_KEY)</string>
    <key>SDK_URL</key>
    <string>$(SDK_URL)</string>
</dict>
</plist>
