//
//  Config.xcconfig
//  FuturaeSampleApp
//
//  Created by Armend Hasani on 21.8.25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
SDK_ID = $(SDK_ID)
SDK_KEY = $(SDK_KEY)
SDK_URL = $(SDK_URL)
IV_TEAM_ID = $(IV_TEAM_ID)
IV_PRODUCTION = $(IV_PRODUCTION)
